	body{
		color: #000305;
		margin: 0;
		padding: 0;
		text-align: left;
        font-family: serif,Microsoft JhengHei,sans-serif;
        padding-top:60px;
	}

	#search-box{
	    margin-top:0;
		margin-bottom:20px;
	}
	
	#overlay-loading {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(0,0,0,0.5);
    }
    #overlay-loading-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: 100px;
        text-align: center;
        color: #fff;
    }
	


    .tag-label {background:#C74451;margin-right:.5em;color:#fff;padding:.2em .5em .2em .5em;}

	.inputComm {width:1000px;}
    .commTime {width:120px;}
    .commTd {word-wrap:break-word;word-break:break-all;}
    .spanTime {width:120px;background:#eeeeee;color:#000;padding:.2em .5em .2em .5em;}

    .img2dC {width:50%;}
	
	
	
	.bottom-line {
		border-bottom:1px solid #dddddd;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	.label-tag {
		background:#000;
		color:#fff;
		padding:.2em .5em .2em .5em;
	}
	
	.img-icon {
		max-width:75px;
		min-width:70px;
	}

	.img-icon > a  > img {
		height:65px;
	}
	
	.textJPname {
		
	}
	
	.extend-panel {
		padding-left:1em;
		line-height:1.8em;
		float:right;
	}
	
	.exteng-panel > a {
		
	}
	
	.char-attr {
		margin-top:1em;
	}
	
	.char-attr .panel-heading span:first-child,
	.spr-data .panel-heading span:first-child{
		color:green;
	}
	
	.spr-data {
		margin-top:0;
	}
	
	.calculator {
		width:8em;
		background:white;
	}
	
	.skill-table tr > td:first-child {
		width:6em;
	}
	
	.skill-table span {
		color:green;
	}
	
	.attr-tag {
		display:inline-block;
	}
	
	.attr-tag span:first-child {
		background:#dddddd;
		border:1px solid #dddddd;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		text-align:center;
		display: inline-block;
		width:45px;
	}
	
	.attr-tag span:last-child {
		border:1px solid #dddddd;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		border-left:none;
		text-align:center;
		display: inline-block;
		width:50px;
		margin-right:0.3em;
	}
	
	.no-margin-right {
		margin-right:0;
	}
	
	.margin-bottom-small {
		margin-bottom:1em;
	}
	
	.input-comment {
		background:#f8f8f8;
	}
	
	.comment-date {
		width:8em !important;
	}
	
	.comment-date  span {
		background:#eeeeee;
		padding:4px;
	}
	
	.attr-table-md td {
		background:#f8f8f8;
		border-left:1px solid white;
		padding:.2em .5em .2em .5em;
		min-width:5.5em;height:2.4em;
	}
	
	.attr-table-md td:first-child {
		color:#fff;
	}

	.break-btn {
		margin-top:.5em;
		margin-bottom:1em;
	}
	
	.break-btn button {
	}
