	body{
		color: #000305;
		margin: 0;
		padding: 0;
		text-align: left;
        font-family: serif,Microsoft JhengHei,sans-serif;
        padding-top:60px;
	}

	#search-box{
	    margin-top:0;
		margin-bottom:20px;
	}
	
	#overlay-loading {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(0,0,0,0.5);
    }
    #overlay-loading-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: 100px;
        text-align: center;
        color: #fff;
    }
	
	#charDiv{
		background: #fff;
	}

    #charTable {margin:0;border:none;}

    #charTable td {
      border-top:none;
      line-height:1.8em;
      margin: 0px;}

    #charTable tr:last-child {border:none;}
    #imgtd {border-bottom:1px solid #dddddd;width:60px;height:60px;}
    #charNametd {border-bottom: 1px solid #dddddd; color:#C74451; min-width:200px;}
    #charStartd {border-bottom: 1px solid #dddddd; width:3em;}
    #charTypetd {border-bottom: 1px solid #dddddd; width:6em;}
    #attrtd {border-bottom: 1px solid #dddddd; width:36em;}
    #attrInnertd {min-width:6em;height:2.4em;}
    .attrInnertd {min-width:5em;}
    
    #more {border-bottom: 1px solid #dddddd;}

    #innerCharTable {border-collapse:separate;padding:0;margin-bottom:.3em;}
    #innerCharTable td:first-child {background:#C74451;color:#fff;}
    #innerCharTable td {border-left:1px solid #fff; text-align:center;width:6em;background:#f8f8f8;}
    #skillTable {border:none;}
    #skillTable td {border: 1px solid #dddddd;}
    #skillTable td:first-child {border-top: none;}
    #skillTable td:nth-child(2) {border-top: none;}
    #titletd {width: 100px;}
    #SPRcomment {background:#f8f8f8;}
    #gamewithtd {width:300px;}

    .tag-label {background:#C74451;margin-right:.5em;color:#fff;padding:.2em .5em .2em .5em;}


	.inputComm {width:1000px;}
    .commTime {width:120px;}
    .commTd {word-wrap:break-word;word-break:break-all;}
    .spanTime {width:120px;background:#eeeeee;color:#000;padding:.2em .5em .2em .5em;}
