	body{
		background: #F5F4EF !important; 
		color: #000305;
		margin: 0;
		padding: 0;
		text-align: left;
        font-family: serif,Microsoft JhengHei,sans-serif;
	}
	
	#banner {margin: 0 auto; padding: 0;}
	
	#banner nav{
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 20px auto;
		padding: 0;
		text-align: center;
		border-radius: 5px;
	}
	
	#banner nav ul {float: left; list-style: none; margin: 0 auto; padding: 0; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}
	#banner nav a:link, #banner nav a:visited {color:#fff; display: inline-block; height: 40px; padding: 5px 1.5em; text-decoration: none;}
	#banner nav a:hover, #banner nav a:active, #banner nav .active a:link, #banner nav .active a:visited {background: #C74451; color: #fff; text-shadow: none !important;}
	#banner nav li:first-child a {
		border-top-left-radius :5px;
		border-bottom-left-radius: 5px;
	}
	
	#search-box{
		margin-bottom: 20px;
	}
	
	#overlay-loading {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(0,0,0,0.5);
    }
    #overlay-loading-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: 100px;
        text-align: center;
        color: #fff;
    }
	
	#charDiv{
		background: #fff;
        border-radius: 5px;
        padding: 1em;
	}

    #charTable {margin:0;}

    #charTable td {
      border-top:none;
      line-height:30px;
      margin: 0px;}

    #charTable tr:last-child {border:none;}
    #imgtd {border-bottom: 1px solid #dddddd; width:30px;}
    #charNametd {border-bottom: 1px solid #dddddd; color:#C74451; min-width:200px;}
    #charStartd {border-bottom: 1px solid #dddddd; width:3em;}
    #charTypetd {border-bottom: 1px solid #dddddd; width:6em;}
    #attrtd {border-bottom: 1px solid #dddddd; width:36em;}
    #attrInnertd {width:6em;}
    #more {border-bottom: 1px solid #dddddd;}

    #innerCharTable {border:1px solid; border-radius:5px;border-collapse:separate;}

    #skillTable {border:none;}
    #skillTable td {border: 1px solid #dddddd;}
    #skillTable td:first-child {border-top: none;}
    #skillTable td:nth-child(2) {border-top: none;}
    #titletd {width: 100px;}